{% extends "base_generic.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles_book_list.css' %}">

    <h1>Book List</h1>

    {% if book_list %}

    {% if user.is_staff and perms.catalog.add_book %}
      |<a href="{% url 'book-create'%}"> Create Book</a> 
    {% endif %}

    <div class="container-book">
    <ul>
      {% for book in book_list %}
        <li class="container-book-list">
          <a class="container-book-list__element" href="{{ book.get_absolute_url }}">{{ book.title }}</a> 
          <p class="container-book-list__element" >({{book.author}})</p>
          {% if user.is_staff and perms.catalog.change_book and perms.catalog.delete_book %}
            <a class="container-book-list__element"  href="{% url 'book-update' pk=book.id %}">( Update )</a> 
            <a class="container-book-list__element"  href="{% url 'book-delete' pk=book.id %}">( Delete )</a> 
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    </div>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %} 
{% endblock %}

