{% extends "base_generic.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles_form_login.css' %}">


    <form method="POST" action="{% url 'signup' %}" >
        {% csrf_token %}
        <div class="container-form">
            <h1>Signup</h1>
            <div class="form-group mb-4 w-75">
            <input type="text" class="form-control" placeholder="Enter user" name="username">
            </div>
            <div class="form-group mb-4 w-75">
            <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <div class="form-group mb-4 w-75">
                <input type="password" class="form-control" placeholder="Password confirmation" name="password_confirmation">
            </div>
            <div class="form-group mb-4 w-75">
                <input type="text" class="form-control" placeholder="First name" name="first_name">
            </div>
            <div class="form-group mb-4 w-75">
                <input type="text" class="form-control" placeholder="Last name" name="last_name">
            </div>
            <div class="form-group mb-4 w-75">
                <input type="email" class="form-control" placeholder="Email" name="email">
            </div>
            
            <button type="submit" class="btn btn-primary">signup</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form

{% endblock %}